button {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 8px;
	border: 1px solid var(--primary-color);
	padding: 0.6rem 1rem;

	color: var(--on-primary-color);
	background-color: var(--primary-color);

	cursor: pointer;

	transition: opacity 0.2s;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
	opacity: 0.2;
}

.secondary {
	border: 1px solid var(--border-color);
	color: var(--text-color);
	background-color: var(--foreground-color);
}

.tertiary {
	border: 1px solid transparent;
	color: var(--text-color);
	background-color: transparent;
}
