.link {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 8px;
	border: none;
	padding: 0.6rem 1rem;

	font-size: 0.9rem;
	font-weight: 500;
	font-family: inherit;

	color: var(--on-primary-color);
	background-color: var(--primary-color);

	cursor: pointer;

	transition: opacity 0.2s;
}

.link:focus,
.link:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.link:disabled {
	opacity: 0.2;
}

.secondary {
	color: var(--text-color);
	background-color: var(--foreground-color);
}

.tertiary {
	color: var(--text-color);
	background-color: transparent;
}
