.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: calc(100% - 2rem);
	max-width: 30rem;

	margin-top: 3rem;
}

.container h1 {
	font-size: x-large;
}

.container p {
	color: var(--secondary-color);
}

.action {
	align-self: flex-end;
}

@media screen and (max-width: 600px) {
	.container {
		margin-top: 1rem;
	}
}
