.container {
	display: flex;
	align-items: center;
	gap: 0.6rem;

	padding: 0rem 1rem;

	border: 1px solid var(--error-color);
	border-radius: 8px;

	background-color: var(--error-bg-color);
	color: var(--error-color);
}

.container p {
	font-size: smaller;
}
