.container {
	display: flex;
	align-items: center;
	gap: 0.6rem;

	padding: 0.6rem 1rem;

	border-radius: 8px;

	background-color: rgba(var(--error-color-rgb), 0.05);
	color: var(--error-color);
}

.container p {
	width: 100%;
	font-size: smaller;
}
