.container {
	width: calc(100% - 2rem);
	max-width: 30rem;
	margin-top: 3rem;
}

.container form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container ul {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	padding: 0rem;
	margin: 0rem;
}

@media screen and (max-width: 600px) {
	.container {
		margin-top: 1rem;
	}
}
