.pageContainer {
	display: flex;
	align-items: center;
	max-width: var(--max-content-width);

	padding: 2rem;
	margin: 0 auto;
}

.content {
	width: 100%;
	padding: 0 1rem;
}

@media (max-width: 600px) {
	.pageContainer {
		padding: 1rem;
	}
}
