.container {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;

	margin: 0 auto;
	max-width: 30rem;
}

.container h1 {
	font-size: x-large;
	margin: 0rem;
	margin-bottom: 0.6rem;
}

.container p {
	margin: 0rem;
	color: var(--secondary-color);
	font-size: medium;
}

.action {
	align-self: flex-end;
}
