.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	max-width: 30rem;

	padding: 4rem 1rem;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 1rem;
	}
}
