.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: calc(var(--max-poll-width) - 1rem);
	margin: 0 auto;
	padding: 3rem 1rem;
}

.loginCard {
	text-align: center;
	width: 22rem;
}

.title {
	margin-bottom: 1.2rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form input {
	margin-bottom: 0.5rem;
}

.loginButton {
	margin-top: 0.6rem;
}

.loginPrompt {
	padding: 0.2rem;
	margin-top: 0.6rem;
	font-size: small;
	color: var(--secondary-color);
}

.loginPromptLogin {
	color: var(--primary-color);
}

@media screen and (max-width: 600px) {
	.container {
		min-width: auto;
		padding: 1rem;
	}

	.loginCard {
		width: 100%;
	}
}
