.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	width: 100%;
	padding: 2rem 1rem;
}

.polls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	width: 100%;
}

.noMorePolls {
	color: var(--secondary-color);
}
