.navWrapper {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--border-color);
}

.nav {
	display: flex;
	gap: 1.4rem;
	align-items: flex-end;
	max-width: var(--max-content-width);

	padding: 1rem 2rem;
	margin: 0 auto;
}

.nav a {
	color: var(--secondary-color);
	font-size: smaller;
}

.homeLink {
	font: bold;
	font-size: medium !important;
	color: var(--primary-color) !important;
}
