.navWrapper {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--border-color);
}

.nav {
	display: flex;
	justify-content: space-between;
	gap: 1.4rem;
	align-items: center;
	max-width: var(--max-content-width);

	padding: 0.6rem 2rem;
	margin: 0 auto;
}

.trailingLinks {
	display: flex;
	gap: 0.6rem;
}

@media (max-width: 600px) {
	.nav {
		padding: 0.6rem;
	}

	.trailingLinks {
		display: none;
	}
}
