:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color: white;
	--on-primary-color: black;
	--secondary-color: gray;
	--background-color: black;
	--background-alt-color: DarkSlateGrey;
	--border-color: lightgrey;
	--accent-color: blue;
	--text-color: white;
	--success-color: green;
	--error-color: red;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: black;
		--on-primary-color: white;
		--secondary-color: gray;
		--background-color: white;
		--background-alt-color: rgb(247, 247, 247);
		--border-color: lightgrey;
		--accent-color: blue;
		--text-color: black;
		--success-color: green;
		--error-color: red;

		color: #213547;
		background-color: var(--background-alt-color);
	}
	a:hover {
		color: #747bff;
	}
}
