.container {
	max-width: 30rem;
}

.container form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.container ul {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	padding: 0rem;
	margin: 0rem;
}
